{% if page.layout == 'post' %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ page.title | jsonify }},
  "description": {{ page.description | default: page.excerpt | strip_html | strip_newlines | truncate: 160 | jsonify }},
  "url": {{ page.url | absolute_url | jsonify }},
  "datePublished": {{ page.date | date_to_xmlschema | jsonify }},
  "dateModified": {{ page.last_modified_at | default: page.date | date_to_xmlschema | jsonify }},
  {% if page.cover_image %}
  "image": {{ page.cover_image | absolute_url | jsonify }},
  {% endif %}
  "author": {
    "@type": "Person",
    "name": {{ page.author | default: site.author.name | jsonify }},
    "url": {{ site.url | jsonify }}
  },
  "publisher": {
    "@type": "Person",
    "name": {{ site.author.name | jsonify }},
    "url": {{ site.url | jsonify }}
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ page.url | absolute_url | jsonify }}
  }
}
</script>

{% elsif page.layout == 'project' %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "SoftwareApplication",
  "name": {{ page.title | jsonify }},
  "description": {{ page.description | jsonify }},
  "applicationCategory": "DeveloperApplication",
  "operatingSystem": "Web",
  {% if page.live_url %}"url": {{ page.live_url | jsonify }},{% endif %}
  "author": {
    "@type": "Person",
    "name": {{ site.author.name | jsonify }},
    "url": {{ site.url | jsonify }}
  }
}
</script>

{% elsif page.url == '/' or page.url == '/index.html' %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": {{ site.title | jsonify }},
  "description": {{ site.description | jsonify }},
  "url": {{ site.url | jsonify }},
  "publisher": {
    "@type": "Person",
    "@id": {{ site.url | jsonify }},
    "name": {{ site.author.name | jsonify }},
    "url": {{ site.url | jsonify }},
    "jobTitle": "Backend Engineer",
    "worksFor": {
      "@type": "Organization",
      "name": "Dropsuite"
    },
    {% if site.author.avatar %}"image": {{ site.author.avatar | absolute_url | jsonify }},{% endif %}
    "sameAs": [
      "https://github.com/{{ site.author.social.github }}",
      "https://linkedin.com/in/{{ site.author.social.linkedin }}",
      "https://www.threads.com/@{{ site.author.social.instagram }}",
      "https://instagram.com/{{ site.author.social.instagram }}"
    ]
  }
}
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "@id": {{ site.url | jsonify }},
  "name": {{ site.author.name | jsonify }},
  "url": {{ site.url | jsonify }},
  "description": {{ site.author.bio | jsonify }},
  "jobTitle": "Backend Engineer",
  "worksFor": {
    "@type": "Organization",
    "name": "Dropsuite"
  },
  {% if site.author.avatar %}"image": {{ site.author.avatar | absolute_url | jsonify }},{% endif %}
  "sameAs": [
    "https://github.com/{{ site.author.social.github }}",
    "https://linkedin.com/in/{{ site.author.social.linkedin }}",
    "https://www.threads.com/@{{ site.author.social.instagram }}",
    "https://instagram.com/{{ site.author.social.instagram }}"
  ]
}
</script>

{% else %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "name": {{ page.title | default: site.title | jsonify }},
  "description": {{ page.description | default: site.description | jsonify }},
  "url": {{ page.url | absolute_url | jsonify }},
  "isPartOf": {
    "@type": "WebSite",
    "name": {{ site.title | jsonify }},
    "url": {{ site.url | jsonify }}
  }
}
</script>
{% endif %}
